/* Estilo para o corpo da página */
body {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    margin: 50px;
    background-color: #f5f5f5;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Largura máxima do contêiner */
    width: 100%; /* Faz o contêiner usar toda a largura disponível dentro do limite */
    max-height: 80vh;
    display: flex;
    flex-direction: column; /* Organiza o conteúdo em coluna */
}

.formulario-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tabela-container {
    margin-top: 24px; /* Aumenta a margem superior */
    padding: 20px; /* Adiciona preenchimento interno */
    border-radius: 8px; /* Aplica cantos arredondados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra semelhante ao formulário */
    overflow-y: auto; /* Permite rolagem vertical */
    flex-grow: 1; /* Permite que a tabela cresça e ocupe o espaço disponível */
}

table {
    width: 100%; /* Faz a tabela usar toda a largura disponível */
    border-collapse: collapse; /* Remove o espaçamento entre as células */
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Aplicando zebragem */
tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
}

caption {
    font-weight: bold;
    margin-bottom: 8px;
}

input {
    width: 100%; /* Faz o input usar toda a largura disponível */
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin-top: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 100%; /* Faz o botão usar toda a largura disponível */
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

button[type="submit"]:active {
    background-color: #3e8e41;
    transform: translateY(2px);
}

button[type="submit"]:focus {
    outline: none; /* Remove o contorno padrão do navegador */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
